In [4]:
import re
import pandas as pd
from collections import Counter
words ='One One was a racehorse ; Two Two was one too,How much wood could a woodchuck chuck '
m=re.split(r'(\W)', words) 
count = Counter(filter(None, m)) 
print(count)

Counter({' ': 17, 'One': 2, 'was': 2, 'a': 2, 'Two': 2, 'racehorse': 1, ';': 1, 'one': 1, 'too': 1, ',': 1, 'How': 1, 'much': 1, 'wood': 1, 'could': 1, 'woodchuck': 1, 'chuck': 1})

In [ ]:
import pandas as pd
df = pd.read_csv('tox21.csv')
writer=pd.ExcelWriter("tox21.xlsx")
df.to_excel(writer,sheet_name="1",columns=['id', 'mol_id', 'smiles','NR-AR'])
df.to_excel(writer,sheet_name="2",columns=['id', 'mol_id', 'smiles','NR-AR-LBD'])
df.to_excel(writer,sheet_name="3",columns=['id', 'mol_id', 'smiles','NR-AhR'])
df.to_excel(writer,sheet_name="4",columns=['id', 'mol_id', 'smiles','NR-Aromatase'])
df.to_excel(writer,sheet_name="5",columns=['id', 'mol_id', 'smiles','NR-ER'])
df.to_excel(writer,sheet_name="6",columns=['id', 'mol_id', 'smiles','NR-ER-LBD'])
df.to_excel(writer,sheet_name="7",columns=['id', 'mol_id', 'smiles','NR-PPAR-gamma'])
df.to_excel(writer,sheet_name="8",columns=['id', 'mol_id', 'smiles','SR-ARE'])
df.to_excel(writer,sheet_name="9",columns=['id', 'mol_id', 'smiles','SR-ATAD5'])
df.to_excel(writer,sheet_name="10",columns=['id', 'mol_id', 'smiles','SR-HSE'])
df.to_excel(writer,sheet_name="11",columns=['id', 'mol_id', 'smiles','SR-MMP'])
df.to_excel(writer,sheet_name="12",columns=['id', 'mol_id', 'smiles','SR-p53'])
writer.save()

In [ ]:
一．
1.SELECT Title FROM movies;
2.SELECT Director FROM movies;
3.SELECT Title,Director FROM movies;
4.SELECT Year,Title FROM movies;
5.SELECT * FROM movies;
二．
1.SELECT * FROM movies where id=6;
2.SELECT * FROM movies where Year BETWEEN 2000 AND 2010;
3.SELECT * FROM movies where Year NOT BETWEEN 2000 AND 2010;
4.SELECT Title,Year FROM movies where Id BETWEEN 1 AND 5 ;
三．
1.SELECT * FROM Movies WHERE Title LIKE "Toy Story%";
2.SELECT * FROM Movies WHERE Director ="John Lasseter";
3.SELECT * FROM Movies WHERE Director !="John Lasseter";
4.SELECT * FROM Movies WHERE Title LIKE"WALL%5";
四．
1.SELECT DISTINCT Director FROM movies ORDER BY Director ASC;
2.SELECT Title FROM movies ORDER BY Year DESC LIMIT 4 OFFSET 10 ;
3.SELECT Title FROM movies ORDER BY Title ASC LIMIT 5 OFFSET 0 ;
4.SELECT Title FROM movies ORDER BY Title ASC LIMIT 5 OFFSET 5;

五．
1.SELECT City,Population FROM north_american_cities WHERE Country ="Canada";
2.SELECT city FROM north_american_cities WHERE Country ="United States" ORDER BY Latitude DESC ;
3.SELECT city FROM north_american_cities WHERE Longitude <-87.629798 ORDER BY Longitude ASC;
4.SELECT city FROM north_american_cities WHERE Country ="Mexico" ORDER BY Population DESC LIMIT 2 OFFSET 0
5.SELECT city FROM north_american_cities WHERE Country ="United States" ORDER BY Population DESC LIMIT 2 OFFSET 2
六．
1.SELECT Title,Domestic_sales,International_sales FROM Boxoffice INNER JOIN Movies ON Movie_id = Id;
2.SELECT Title,Domestic_sales,International_sales FROM Boxoffice INNER JOIN Movies ON Movie_id = Id WHERE International_sales > Domestic_sales;
3.SELECT Title FROM Boxoffice INNER JOIN Movies ON Movie_id = Id ORDER BY Rating DESC;
七．
1.SELECT DISTINCT  Building FROM employees LEFT JOIN Buildings ON Building = Building_name;
2.SELECT Building_name,Capacity FROM Buildings ;
3.SELECT DISTINCT Building_name,Role FROM Buildings LEFT JOIN Employees ON Building_name=Building ;
4.SELECT Name,Role FROM Employees WHERE Building IS NULL;
八．
1.SELECT Building_name FROM Buildings LEFT JOIN Employees ON Building_name=Building WHERE Building IS NULL;
2.SELECT Title, (Domestic_sales+International_sales)/1000000 AS Combined_sales FROM Boxoffice LEFT JOIN Movies ON Movie_id=Id;
3.SELECT Title, Rating*10 FROM Boxoffice LEFT JOIN Movies ON Movie_id=Id;
4.SELECT Title FROM Boxoffice LEFT JOIN Movies ON Movie_id=Id WHERE YEAR=1998 OR YEAR=2004 OR YEAR=2006 OR YEAR=2008 OR YEAR=2010 OR YEAR=2012;
九．
1.SELECT MAX(Years_employed)FROM employees;
2.SELECT Role,AVG(Years_employed)FROM employees GROUP BY(Role);
3.SELECT Building, SUM(Years_employed)FROM employees GROUP BY Building;
十．
1.SELECT COUNT(*) AS Number,Role FROM employees WHERE Role="Artist";
2.SELECT COUNT(*) AS Number,Role FROM employees GROUP BY Role;
3.SELECT SUM(Years_employed)FROM employees WHERE Role="Engineer"  ;
十一．
1.SELECT COUNT(*),Director FROM movies GROUP BY Director;
2.SELECT SUM(Domestic_sales)+SUM(International_sales),Director FROM Boxoffice LEFT JOIN Movies ON Movie_id=Id GROUP BY Director;
十二．
1.INSERT INTO Movies(Title,Director,Year,Length_minutes) VALUES("Toy Story 4","John","2019","90")
2.INSERT INTO Boxoffice(Movie_id,Rating,Domestic_sales,International_sales) VALUES("16","8.7","3400000000","2700000000");
十三．
1.UPDATE Movies SET Director="John Lasseter" WHERE Title="A Bug's Life"
2.UPDATE Movies SET Year="1999" WHERE Title="Toy Story 2"
3.UPDATE Movies SET Title="Toy Story 3",Director="Lee Unkrich" WHERE Title="Toy Story 8"
十四．
1.DELETE FROM Movies WHERE Year<2005;
2.DELETE FROM Movies WHERE Director="Andrew Stanton"
十五．
1.CREATE TABLE IF NOT EXISTS Database(
Name Character(20),
Version Float,
Download_count Int
)
十六．
1.ALTER TABLE Movies ADD Aspect_ratio FLOAT
2.ALTER TABLE Movies ADD Language TEXT DEFAULT English
十七．
1.DROP TABLE IF EXISTS Movies
2.DROP TABLE IF EXISTS Boxoffice